books{color:white;background-color:#c13a3e;width:100%;}

heading{
color:#fffbde;
font-size:40px;
background-color: #eedae5;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;
font-weight:bold;
}
