books{color:white;background-color#18478d;width:100%;}

heading{
color:#ffffff;
font-size:40px;
background-color:#eedae5;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;
font-weight:bold;
}
